.idea
.DS_Store
ontology_RDF_graph.html
venv
requirements.txt 
data
instance
andromeda/ontoML_keycloak_1
andromeda/ontoMLold1
andromeda/ontoMLold2
andromeda/ontoMLold3
andromeda/ontoML2
andromeda/ADS
andromeda/client_secrets.json
andromeda/config/client_secrets.json
andromeda/Archive
andromeda/tests
andromeda/venv
andromeda/server.crt.pem
andromeda/server.key.pem
andromeda/ontoML/static
andromeda/ontoML/templates