<style>
  .modal-content{
    background-color: #212121
  }
</style>

<!-- Modal MoreInfo -->
<div class="modal fade" id="Modal-MoreInfo"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel1">
          Data Quality Development Tool
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This is a data quality development tool. Automated Data modeling and data harmonization using Ontology Learning It helps the user in data integration and semantic interoperability of datasets. The tool will help the user automate the process of data modeling using machine learning with ontology engineering. The tool can be integrated into an machine learning operation (MLOps) pipeline or AI development portal or used as a service to run in the background of a DevOps environment.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

