{% extends 'base.html'%}

{% block title %}
    thing Page
{% endblock %}

{% block content %}

<body class="text-center">
     <h1>Entity Registeration</h1>
     <div class="container">
         <form method="POST" class="form-register" style="color:white">
             {{ form.hidden_tag() }}
             <img class="mb-4" src="\i-nergIMG\i-nergy-logo-web.png" alt="">
             <h1 class="h3 mb-3 font-weight-normal">
                 Please Register your New Entity
             </h1>
             <br>
             {{ form.entityname.label() }}
             {{ form.entityname(class="form-control", placeholder="Entity Name") }}

             {{ form.type.label() }}
             {{ form.type(class="form-control", placeholder="Type") }}

             {{ form.locatedat.label() }}
             {{ form.locatedat(class="form-control", placeholder="Located At") }}

             {{ form.datecreated.label() }}
             {{ form.datecreated(class="form-control", placeholder="Date Created") }}

             {{ form.modifiedat.label() }}
             {{ form.modifiedat(class="form-control", placeholder="Modified At") }}

             {{ form.entityversion.label() }}
             {{ form.entityversion(class="form-control", placeholder="Entity Version") }}

             {{ form.devicecategory.label() }}
             {{ form.devicecategory(class="form-control", placeholder="Device Category") }}

             <br>
             {{ form.submit(class="btn btn-lg btn-block btn-secondary")}}

         </form>
     </div>
 </body>
{% endblock %}