{% extends 'base.html'%}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>I-NERGY Pilot System Information</h1>
        <ul>
            <li  class="nav-item">
                <a class="nav-link" href="#">RDN</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#">BFP</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#">ASM</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#">VEOLIA</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#">HERON</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#">ZEEZcoop</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#">SONCE</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#">REA</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#">FAEN</a>
            </li>
        </ul>
{% endblock %}