{% extends 'base.html'%}

{% block title %}
    namespaces Page
{% endblock %}

{% block content %}

    <h1>Namespaces or Vocabularies </h1>
        <ul>
            <li  class="nav-item">
                <a class="nav-link" href="https://raw.githubusercontent.com/I-NERGY/DataModel/main/Resources/Ontology/OWL/i-nergy-ontology-02.owl"><h2>I-NERGY Vocabulary</h2></a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="https://sargon-n5geh.netlify.app/ontologies/Sargon.ttl"><h2>SARGON Ontology</h2></a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="https://github.com/smart-data-models/SmartEnergy"><h2>Fiware Smart Data Model</h2></a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="https://ontology.tno.nl/IEC_CIM/"><h2>CIM Ontology</h2></a>
            </li>
             <li  class="nav-item">
                <a class="nav-link" href="https://raw.githubusercontent.com/CIMug-org/IEC-CIM-Ontology/main/TheCimOntology.owl"><h2>CIM Ontology in owl</h2></a>
            </li>
             <li  class="nav-item">
                <a class="nav-link" href="https://raw.githubusercontent.com/CIMug-org/IEC-CIM-Ontology/main/TheCimOntology.ttl"><h2>CIM Ontology in ttl</h2></a>
            </li>
             <li  class="nav-item">
                <a class="nav-link" href="#"><h2>...</h2></a>
            </li>
        </ul>

{% endblock %}