{% extends 'base.html'%}

{% block title %}
    namespaces Page
{% endblock %}

{% block content %}

    <h1>Namespaces or Vocabularies </h1>
        <ul>
            <li  class="nav-item">
                <a class="nav-link" href="https://raw.githubusercontent.com/I-NERGY/DataModel/main/Resources/Ontology/OWL/i-nergy-ontology-01.owl">I-NERGY Vocabulary</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="https://sargon-n5geh.netlify.app/ontologies/Sargon.ttl">SARGON Ontology</a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="https://github.com/smart-data-models/SmartEnergy">Fiware Smart Data Model</a>
            </li>
             <li  class="nav-item">
                <a class="nav-link" href="https://ontology.tno.nl/IEC_CIM/">CIM Ontology</a>
            </li>
             <li  class="nav-item">
                <a class="nav-link" href="#">...</a>
            </li>
             <li  class="nav-item">
                <a class="nav-link" href="#">...</a>
            </li>
             <li  class="nav-item">
                <a class="nav-link" href="#">...</a>
            </li>
        </ul>

{% endblock %}