{% extends 'base.html'%}

{% block title %}
    ontology Page
{% endblock %}


{% block content %}
<div class="row" style="margin-top:20px; margin-left:140px" >
    <div class="col-11">

 <div class="content">
    <h1>NiFi Connector</h1>
     <td>
        <button class="btn btn-outline btn-info">NiFi Connector</button>
    </td>
     <td>
        <button class="btn btn-outline btn-warning">JSON</button>
    </td>
     <td>
        <button class="btn btn-outline btn-warning">XML</button>
    </td>
     <td>
        <button class="btn btn-outline btn-warning">CSV</button>
    </td>
     <td>
        <button class="btn btn-outline btn-warning">HTML</button>
         <td>
        <button class="btn btn-outline btn-warning">RDF</button>
    </td>
     <td>
        <button class="btn btn-outline btn-warning">XLSX</button>
    </td>
    </td>
    <br>
    <br>
    <table class="table table-hover table-dark">
           <thead>
               <tr>
                   <!-- Your Columns HERE -->
                   <th scope="col">Ontology</th>
                   <th scope="col">Domain</th>
                   <th scope="col">type</th>
                   <th scope="col">API</th>
                   <th scope="col">IoT</th>
                   <th scope="col">DB</th>
                   <th scope="col"></th>
                   <th scope="col"></th>
               </tr>
           </thead>
           <tbody>
               <!-- Your rows inside the table HERE: -->
                   {% for item in items %}
                       <tr>
                           <td>{{ item.ontology }}</td>
                           <td>{{ item.domain }}</td>
                           <td>{{ item.type }}</td>
                           <td>{{ item.t-box }}</td>
                           <td>{{ item.r-box }}</td>
                           <td>{{ item.a-box }}</td>
                           <td>
                               <button class="btn btn-outline btn-danger">Delete</button>
                           </td>
                           <td>
                               <button class="btn btn-outline btn-info">Update ontology</button>
                           </td>
                       </tr>

                   {% endfor %}
           </tbody>
    </table>
    <td>
        <button class="btn btn-outline btn-success">Check Data Integration</button>
    </td>
    <td>
        <button class="btn btn-outline btn-light">Check data Harmonization</button>
    </td>
    <br>
    <br>
    <h2 class="btn btn-block btn-outline btn-danger"> <strong>Performance Visualization</strong></h2>
 </div>

    </div>

</div>


{% endblock %}
