{% extends 'base.html'%}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>I-NERGY Pilot System Information</h1>
        <ul>
            <li  class="nav-item">
                <a class="nav-link" href={{ url_for('static', filename='Schema and Instance Level Meta Ontology  framework for I-NERGY AIoD Platform.png')}}"> <h2>RDN</h2></a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#"> <h2>BFP</h2></a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#"><h2>ASM</h2></a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#"><h2>VEOLIA</h2></a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#"><h2>HERON</h2></a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#"><h2>ZEEZcoop</h2></a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#"><h2>SONCE</h2></a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#"><h2>REA</h2></a>
            </li>
            <li  class="nav-item">
                <a class="nav-link" href="#"><h2>FAEN</h2></a>
            </li>
        </ul>
{% endblock %}